Source: alba-asdmanager
Maintainer: Kenneth Henderick <kenneth.henderick@cloudfounders.com>
Standards-Version: 3.9.4.0
Section: python
Priority: optional
Build-Depends: python (>= 2.7.2)

Package: alba-asdmanager
Architecture: amd64
Pre-Depends: python (>= 2.7.2), python-pip (>= 1.4.1-2)
Depends: lsscsi (>= 0.27-2), ipython
Description: ALBA ASD Manager
 Management suite for ALBA ASDs
