<?xml version="1.0" standalone='no'?>
<!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- $ -->
<service-group>
    <name replace-wildcards="yes">asd_node_[NODEID]</name>
    <service>
        <type>_asd_node._tcp</type>
        <port>8500</port>
    </service>
</service-group>
