[Unit]
Description=ALBA Maintenance
After=network.target local-fs.target

[Service]
Group=root
User=root
Restart=on-failure
RestartSec=10s
TimeoutStopSec=60
Environment=LD_LIBRARY_PATH=/usr/lib/alba
Environment=ALBA_LWT_ENGINE=libev
LimitMEMLOCK=infinity

ExecStart=/usr/bin/alba maintenance --config <ALBA_CONFIG> --log-sink <LOG_SINK>
ExecStartPre=/bin/sh -c "if [ ! -d /opt/asd-manager/run ]; then mkdir /opt/asd-manager/run; chown alba:alba /opt/asd-manager/run; fi; echo `alba version --terse` > /opt/asd-manager/run/<SERVICE_NAME>.version"

[Install]
WantedBy=multi-user.target
