[Unit]
Description=ALBA Maintenance
After=asd-watcher.service
SyslogIdentifier=%N

[Service]
Group=root
User=root
Restart=on-failure
RestartSec=10s
TimeoutStopSec=60
Environment=LD_LIBRARY_PATH=/usr/lib/alba
Environment=ALBA_LWT_ENGINE=libev
# Garbage collection for ALBA
Environment=OCAMLRUNPARAM='b,a=1,s=4096k,O=50'
LimitNOFILE=8192
LimitMEMLOCK=infinity
ExecStartPre=/bin/sh -c "if [ ! -d <RUN_FILE_DIR> ]; then mkdir <RUN_FILE_DIR>; chown alba:alba <RUN_FILE_DIR>; fi; echo <ALBA_PKG_NAME>=`<ALBA_VERSION_CMD>` > <RUN_FILE_DIR>/<SERVICE_NAME>.version"
ExecStart=/usr/bin/alba maintenance --config <ALBA_CONFIG> --log-sink <LOG_SINK>
ExecReload=/bin/bash -c "kill -s SIGUSR1 $MAINPID"

[Install]
WantedBy=asd-watcher.service
