[Unit]
Description="alba asdmanager"
After=network.target local-fs.target

[Service]
Group=root
User=root
Restart=on-failure
RestartSec=10s
TimeoutStopSec=60
Environment=PYTHONPATH=:/opt/alba-asdmanager
Environment=ASD_NODE_ID=<ASD_NODE_ID>
WorkingDirectory=/opt/alba-asdmanager/source
ExecStart=/usr/bin/python asdmanager.py <PORT_NUMBER>
