[Unit]
Description="alba asd"
After=network.target local-fs.target

[Service]
Group=alba
User=alba
Restart=on-failure
RestartSec=10s
TimeoutStopSec=60
Environment=PYTHONPATH=:/opt/asd-manager
WorkingDirectory=/opt/asd-manager/source
ExecStart=/usr/bin/alba asd-start --config etcd://127.0.0.1:2379/ovs/alba/asds/<ASD>/config
ExecStartPre=/bin/sh -c "if [ ! -d /opt/asd-manager/run ]; then mkdir /opt/asd-manager/run; chown alba:alba /opt/asd-manager/run; fi; echo `alba version --terse` > /opt/asd-manager/run/<SERVICE_NAME>.version"
