[Unit]
Description=ALBA ASD
After=asd-watcher.service
SyslogIdentifier=%N

[Service]
Group=alba
User=alba
Restart=on-failure
RestartSec=10s
TimeoutStopSec=60
Environment=PYTHONPATH=:/opt/asd-manager
Environment=ALBA_LWT_ENGINE=libev
# Garbage collection for ALBA
Environment=OCAMLRUNPARAM='b,a=1,s=4096k,O=50'
WorkingDirectory=/opt/asd-manager/source
LimitMEMLOCK=infinity
ExecStartPre=/bin/sh -c "if [ ! -d <RUN_FILE_DIR> ]; then mkdir <RUN_FILE_DIR>; chown alba:alba <RUN_FILE_DIR>; fi; echo <ALBA_PKG_NAME>=`<ALBA_VERSION_CMD>` > <RUN_FILE_DIR>/<SERVICE_NAME>.version"
ExecStart=/usr/bin/alba asd-start --config <CONFIG_PATH> --log-sink <LOG_SINK>
ExecReload=/bin/bash -c "kill -s SIGUSR1 $MAINPID"
LimitNOFILE=8192

[Install]
WantedBy=asd-watcher.service
