[Unit]
Description=ASD Manager
After=asd-watcher.service
BindsTo=asd-watcher.service
SyslogIdentifier=%N

[Service]
Group=root
User=root
Restart=on-failure
RestartSec=10s
TimeoutStopSec=60
Environment=PYTHONPATH=/opt/asd-manager
WorkingDirectory=/opt/asd-manager/source
LimitMEMLOCK=infinity
ExecStart=/usr/bin/python asdmanager.py

[Install]
WantedBy=asd-watcher.service
